*.sqlite3
env.py
_pycache_
*.png
static/
media/
File core.Microsoft.Pytho.3732.1598891291 is 223.31 MB; this exceeds GitHub's file size limit of 100.00 MB
File core.Microsoft.Pytho.3712.1598891291 is 200.95 MB; this exceeds GitHub's file size limit of 100.00 MB
File core.Microsoft.Pytho.3702.1598891291 is 201.27 MB; this exceeds GitHub's file size limit of 100.00 MB